<div class="sidebar" id="sidebar">
    <div class="sidebar-header p-3">
        <h4 class="text-white">MyLib Admin</h4>
    </div>
    
    <!-- Toggle Button -->
    <div class="sidebar-toggle" id="sidebarToggleDesktop">
        <i class="fas fa-chevron-left"></i>
    </div>
    
    <nav class="sidebar-nav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <i class="fas fa-users"></i>
                    <span>Usuários</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/books">
                    <i class="fas fa-book"></i>
                    <span>Livros</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/lending">
                    <i class="fas fa-handshake"></i>
                    <span>Empréstimos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/audit">
                    <i class="fas fa-clipboard-list"></i>
                    <span>Auditoria</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings">
                    <i class="fas fa-cog"></i>
                    <span>Configurações</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
