<div class="modal fade" id="editBookModal" tabindex="-1" aria-labelledby="editBookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBookModalLabel">Editar Livro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="editBookForm" data-action="editBook">
                    <input type="hidden" id="editBookId" name="id">
                    <div class="form-group">
                        <label for="editTitle">Título</label>
                        <input type="text" class="form-control" id="editTitle" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="editAutor">Autor</label>
                        <input type="text" class="form-control" id="editAutor" name="autor" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="editCategory">Categoria</label>
                            <input type="text" class="form-control" id="editCategory" name="category">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="ri-close-line"></i>
                    Cancelar
                </button>
                <button type="submit" class="btn btn-primary" onclick="bookEdit()">
                    <i class="ri-save-line"></i>
                    Salvar Alterações
                </button>
            </div>
        </div>
    </div>
</div>
